node_modules/
.DS_Store
.vscode/**
!.vscode/extensions.json
.idea/
public/scripts/extensions/third-party
.aider*
.env
*.map
repopack-output.txt
scripts/*.json
scripts/*.js
scripts/temp/
__pycache__
repomix-output.xml
dist/assets
